<!-- templates/admin/edit.html -->
{% extends "admin/base.html" %}

{% block page_title %}{% if item %}Edit{% else %}Create{% endif %} {{ model.__name__ }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="POST">
            {% for field_name, field in model.get_fields() %}
            <div class="mb-3">
                <label for="{{ field_name }}" class="form-label">{{ field_name|title }}</label>

                {% if field.__class__.__name__ == 'ForeignKeyField' %}
                    <select name="{{ field_name }}" id="{{ field_name }}" class="form-select">
                        <option value="">Select {{ field_name }}</option>
                        {% for related_obj in related_objects[field_name] %}
                            <option value="{{ related_obj.id }}"
                                {% if item and getattr(item, field_name).id == related_obj.id %}
                                    selected
                                {% endif %}
                            >
                                {{ related_obj.name | default(related_obj.id) }}
                            </option>
                        {% endfor %}
                    </select>
                    {% elif field.__class__.__name__ == 'BooleanField' %}
                        <div class="form-check">
                            <input type="hidden" name="{{ field_name }}" value="0">
                            <input type="checkbox"
                                class="form-check-input"
                                id="{{ field_name }}"
                                name="{{ field_name }}"
                                value="1"
                                {% if item and getattr(item, field_name) %}checked{% endif %}>
                            <label class="form-check-label" for="{{ field_name }}">
                                {{ field_name|title }}
                            </label>
                        </div>
                {% else %}
                    <input type="text"
                           name="{{ field_name }}"
                           id="{{ field_name }}"
                           class="form-control"
                           value="{{ getattr(item, field_name) if item else '' }}">
                {% endif %}
            </div>
        {% endfor %}

            <div class="d-flex justify-content-between">
                <div class="button-container">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save me-2"></i>Save
                </button>
                    <!-- Save button HTML here -->
                    <a href="{{ base_url }}{{ model.__name__ }}/delete/{{ item.id }}"
                        class="btn btn-primary btn-danger"
                        onclick="confirmDelete(event, '{{ model.__name__ }}')">
                        <i class="fas fa-trash me-2"></i>Delete
                    </a>
                </div>
                <a href="{{ base_url }}{{ model.__name__ }}" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left me-2"></i>Back to list
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
